html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    // padding: 1rem;
    grid-column: 1 / 4;
}

.left-side {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 3;
}

.right-side {
    grid-column: 3 / 4;
}

footer {
    grid-column: 1 / 4;
}
