* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: text;
    -webkit-user-select: text;
}

html,
body {
    // font-size: 18px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: coral;
    background-image: url('/images/background/sun-tornado.svg');
    background-attachment: fixed;
    background-size: cover;
}

#app {
    width: 100%;
    height: 100%;
}

.btn-outline {
    border: solid 1px;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: black;
}

.align {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

td.mdc-data-table__cell {
    user-select: text !important;
    -webkit-user-select: text !important;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none !important;
}

.flex-gap {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.modebar-group {
    display: flex !important;
    gap: 0.5em;
    align-items: center;
}

.divider {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
}
